---
http_interactions:
- request:
    method: get
    uri: https://app.kiratalent.com/api/interviews/fqvjnY/webhooks/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <KIRA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.kiratalent.v2+json; charset=utf-8
      Link:
      - <https://app.kiratalent.com/api/interviews/fqvjnY/webhooks/?page=1>; rel="first",
        <https://app.kiratalent.com/api/interviews/fqvjnY/webhooks/?page=1>; rel="last"
      X-Total-Count:
      - '0'
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 12 May 2026 12:48:11 GMT
- request:
    method: post
    uri: https://app.kiratalent.com/api/interviews/fqvjnY/webhooks/
    body:
      encoding: UTF-8
      string: '{"endpoint":"https://fullfabric.com/api/applics/kira/callback","event_subscriptions":["applicant.interview_completed"],"active":true,"secret":"<KIRA_SECRET>"}'
    headers:
      Authorization:
      - Token <KIRA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.kiratalent.v2+json; charset=utf-8
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"uid":"vbcoqt","active":true,"endpoint":"https://fullfabric.com/api/applics/kira/callback","custom_headers":[],"event_subscriptions":["applicant.interview_completed"]}'
  recorded_at: Tue, 12 May 2026 12:48:12 GMT
recorded_with: VCR 6.4.0
