---
http_interactions:
- request:
    method: post
    uri: https://app.kiratalent.com/api/interviews/fqvjnY/applicants/
    body:
      encoding: UTF-8
      string: '{"first_name":"Peter","last_name":"Pan","email":"not-an-email"}'
    headers:
      Authorization:
      - Token <KIRA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.kiratalent.v2+json; charset=utf-8
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"email":["Enter a valid email address."]}'
  recorded_at: Tue, 12 May 2026 12:48:10 GMT
recorded_with: VCR 6.4.0
