---
# Hand-crafted from a real Kira response; pinned to record: :none in the spec.
http_interactions:
- request:
    method: get
    uri: https://app.kiratalent.com/api/interviews/fqvjnY/applicants/zIUiHR/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token <KIRA_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.kiratalent.v2+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"uid":"zIUiHR","url":"https://app.kiratalent.com/api/interviews/fqvjnY/applicants/zIUiHR/","first_name":"Peter","last_name":"Pan","full_name":"Peter Pan","email":"peter.pan+fixture-001@example.com","external_id":"ext-fixture-001","interview":{"uid":"fqvjnY","url":"https://app.kiratalent.com/api/interviews/fqvjnY/","name":"Test Interview"},"date_responded":null,"deadline":null,"review_page_url":"https://app.kiratalent.com/review/zIUiHR/","public_review_url":null,"check_in_page_url":"https://app.kiratalent.com/applicant/KFQNHnddOfbROcTdAaIFQb/instructions/","rating":{"value":null,"label":"N/A","name":"not-reviewed"},"average_reviewer_score":null,"custom_fields":{},"embeddable_responses":[],"responses":[]}'
  recorded_at: Mon, 25 May 2026 00:00:00 GMT
recorded_with: VCR 6.0.0
